
        
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Tahoma;
    font-size: 40px;
    margin: 0;
    
   
}
.box {
    display: flex;
    /* justify-content: space-between; */
    width: 100px;
    height: 100px;
    border-top: 1px solid #687291;
    /* text-align: center; */
    /* line-height: 100px; */
    margin: 10px;
    /* justify-content: center; */
   
  }

         
.box:nth-child(odd) {
    background-color: #dfe1e7;
    
}

.box:nth-child(even) {
    background-color: #eeeff2;
  
}

.box:last-child {
    background-color: #687291;
    border: 4px solid black;
   /*line-height: 10px;/* Adjust line-height for vertical center due to border*/
    
}